<% students.forEach((student)=>{ %>
    <hr>
<h5>name: <%=student.name%></h5>
<h5>gender: <%=student.gender%></h5>
<h5>email: <%=student.email%></h5>
<h5>birthdate: <%=student.birthDate%></h5>
<h5>address: <%=student.address%></h5>
<h5>pincode: <%=student.pincode%></h5>
<h5>subject: <%=student.subject%></h5>
<h5>percentage: <%=student.percentage%></h5>
<h5>message: <%=student.message%></h5>
    <hr>
<% }) %>